<div class="col-xs-6">
    <%= link_to messages_path do%> 
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #FF9800;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Treningi</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>   
        </div>
    <%end%> 
</div>

<div class="col-xs-6">
    <%= link_to messages_path do%> 
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #00BCD4;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-envelope fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">Wiadomośći</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>      
        </div>
    <%end%>
</div>
<div class="clearfix"></div>