<div class="col-md-3 col-sm-6">
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-users fa-fw"></i>
            Moi podopieczni
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
            	<% my_proteges.each do |data| %>
                    <%= link_to messages_path(id: data.user_id) do %>
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <% if !data.user.photo_file_name.nil? %>
                                    <div style="background-image: url(<%= data.user.photo.url(:small)%>);" class="circle-photo-chat"></div>
                                <% else %>
                                    <img class="img-circle" src="img/nologinuser2.jpg" style="width: 50px" alt="">
                                <% end %>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <%= data.user.name %> <%= data.user.surname %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">

        </div>
        <!-- /.panel-footer -->
    </div>
</div>