<li class="right clearfix">
    <span class="chat-img pull-right">
        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
    </span>
    <div class="chat-body clearfix">
        <div class="header">
            <small class=" text-muted">
                <i class="fa fa-clock-o fa-fw"></i> <%= data.created_at.strftime("%Y-%m-%d %H:%M") %></small>
            <strong class="pull-right primary-font"><%= current_user.name %> <%= current_user.surname %></strong>
        </div>
        <p>
            <%= data.content %>
        </p>
    </div>
</li>