<div class="col-md-3 col-sm-6">
	<div class="panel panel-default" id="trener_info_messages">
		<div class="panel-heading">
	     Twój trener
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<%= @trainer.user.name %> <%= @trainer.user.surname %>
		</div>
	</div>
</div>