

<div class="col-xs-12">
<h3>Wiadomości</h3>
</div>

<% if !current_user.protege.nil? %>
    <%= render 'trener_info'%>
    <%= render 'message_box', receive_user_id: @trainer.user_id   %>
<% else %>
    <%= render 'my_proteges', my_proteges: @my_proteges %>
    <% if params[:id].nil? %>

    <% else %>
        <%= render 'message_box', receive_user_id: params[:id]   %>
    <% end %>
<% end %>

