
<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">
        Leki podopiecznego
    </div>
    <!-- /.panel-heading -->
   	<div class="panel-body">
      	<div class="table-responsive">
          <% if medicines.empty? %>
            Brak leków
          <% else %>
          	<table id="medicines" class="table table-hover">
              	<thead>
                  	<tr>
                      	<th>Nazwa</th>
                      	<th>Dawka</th>
                  	</tr>
              	</thead>
              	<tbody>
                  <% medicines.each do |data| %>
                  <tr>
                      <td><%= data.name %></td>
                      <td><%= data.dose %> <%= data.dose_unit %> </td>
                  </tr>
                  <% end %>
              	</tbody>
          	</table>
            <% end %>
      	</div>
  	</div>
</div>

<script type="text/javascript">
$('#medicines').DataTable( {
    "pagingType": "full_numbers",
    "order": [[ 1, "desc" ]],
    "dom": 'lfrt<"bottom"i<"clear">p>',
    "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
    }
} );
</script>