<h1>Trener Mkufuzni</h1>

<p>Witaj,  <%= @user.name %>,</p>

<p>
Witamy w Mkufunzi. Kliknij na link poniżej, aby aktywować konto:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

