<h3>Aktywne ćwiczenia</h3>

<div id="active_triainings">
	<%= render partial: 'active_tab', locals: { active_protege: @active_protege} %>
</div>

<script type="text/javascript">
$(function() { setTimeout(active_excercise, 1000)});
	function active_excercise(){
		$.getScript("active.js")
		setTimeout(active_excercise, 1000);
	}
 </script>