
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-fw fa-archive"></i> Kartoteka
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <% @measureType.each do |data| %>      
            <a href="#" class="list-group-item">
                 <%= data.id %> <%= data.name %>
                </span>
            </a>
            <% end %> 
        </div>
        <!-- /.list-group -->
        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
            Dodaj opcje pomiaru do kartoteki
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <%= render 'measure_types/new' %>
            </div>
          </div>
    </div>
    <!-- /.panel-body -->
</div>


