@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "bootstrap-timepicker";
 
// $state-danger-text: #fff;

// body {
//   padding-top: 60px;
// }

// section {
//   overflow: auto;
// }

// textarea {
//   resize: vertical;
// }

// .center {
//   text-align: center;
// }

// .center h1 {
//   margin-bottom: 10px;
// }

// /* typography */

// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }

// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: #777;
// }

// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }

// /* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #fff;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
// }

// #logo:hover {
//   color: #fff;
//   text-decoration: none;
// }

// /* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: #777;
// }

// footer a {
//   color: #555;
// }

// footer a:hover {
//   color: #222;
// }

// footer small {
//   float: left;
// }

// footer ul {
//   float: right;
//   list-style: none;
// }

// footer ul li {
//   float: left;
//   margin-left: 15px;
// }

// /* Development console */
// @mixin box_sizing {
//   -moz-box-sizing:    border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing:         border-box;
// }

// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
// }

// /* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

// #error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

// .checkbox {
//   margin-top: -10px;
//   margin-bottom: 10px;
//   span {
//     margin-left: 20px;
//     font-weight: normal;
//   }
// }

// #session_remember_me {
//   width: auto;
//   margin-left: 0;
// }

// ROMKA ZMIANY

$mkufunzi_blue: #2e3f50;
$mkufunzi_green: #00b494;
$mkufunzi_gray: #bdbdbe;

$dark_primary_kolor: #689f39;
$primary_kolor: #8cc24a;
$light_primary_kolor: #ddedc8;
$accent_kolor: #009688;
$dark_accent_kolor: #00796B;

$primary_text: #222222;
$secondary_text: #737373;

body {background-color: $accent_kolor !important;}

//ustawienia header i leftmenu
@media (min-width: 768px){
	.sidebar {
	 margin-top: 0px !important;
	}
	#logo{
		margin-left: 250px !important;
	}
}

.navbar-default {
  background-color: $accent_kolor !important;
  border-color: $accent_kolor !important;
}

.nav > li > a {
	padding: 16px 15px !important;
}

.sidebar ul li {
  border-bottom: 1px solid $accent_kolor !important;
  a{
  	color: #fff;
  }
  a:hover, a.active{
  	background-color: $primary_kolor !important;
  }
}



#logo {
	font-family: 'Herculanum';
	font-size: 25px;
	color: $dark_primary_kolor;
}

#page-wrapper{
	background-color: #eee !important;
	padding-top: 20px !important;
}

@media screen and (max-width: 767px){
	.navbar-top-links li {
		float: left;
	}

	#personal_info{
		height: 50px;
		position: relative;
		float: left;
		color: #fff;
	}

	#circle-photo-big{
		height: 20px;
		width: 20px;
		margin: 15px 15px;
	}

	#topbar{
		background-color: $dark_accent_kolor !important;
		margin-bottom: 0;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	}

}

@media screen and (min-width: 767px){
	#personal_info{
		height: 110px;
		padding: 15px 0px 15px 15px;
		width: 100%;
		background-color: $dark_accent_kolor;
	}

	#circle-photo-big{
		height: 80px;
		width: 80px;
	    border-radius: 50%;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;
	}

	#topbar{
		background-color: white !important;
		margin-bottom: 0;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	}

}

@media screen and (min-width: 992px){
	.protege-card-r{
		padding-left: 0px !important;
	}
	.protege-card-l{
		padding-right: 0px !important;
	}
}

//koniec ustawien header i leftmenu

//cards

@media screen and (min-width: 768px){
	.dataTables_filter{
		width: 50%;
		float: left;
		position: relative;
	}
	.dataTables_length{
		width: 50%;
		float: left;
		position: relative;	
	}
}

@media screen and (max-width: 768px){
	.dataTables_filter{
		width: 100%;
		float: left;
		position: relative;
	}
	.dataTables_length{
		width: 100%;
		float: left;
		position: relative;	
	}
}

//koniec cars


//sekcja dotyczaca nologin

div.nologin{
	min-height: 100vh;
	background-color: #eee !important;
	overflow: hidden;
}

.nologin{
	width: 100%;


	.foto{
		background: url(../img/foto.png) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 300px;
		padding: 0px 0px;
		.foto_sub{
			font-family: 'Herculanum';
			font-size: 44px;
			color: #eee;
			text-align: center;
    		padding-top: 60px;
		}
	}
}


.circle-photo-chat{
	height: 50px;
	width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#welcomepage_box{
	width: 100%;
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
	margin: -150px 0px 35px 0px;
}

.checkbox-inline{
    width: 100%;
    padding: 10px 0px 10px 20px;
}

//koniec sekcji dotyczaca nologin

.list-group .list-group-item {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.bootstrap-timepicker-widget{
	z-index: 1100 !important;
}

.dropdown-messages li a{
	height: 40px !important;
	width: 310px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.about-me{
	padding-top: 7px !important; 
}

#error_explanation{
	width: 100% !important;
}

.field_with_errors{
	input {background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#ff0000, #FF0000);}
	label {color: #ff0000;}
    width: 100%;
    background-color: transparent !important;
}