<div class="col-md-12 col-lg-12" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> Nieaktywni trenerzy </h1>
        </div>
        <!-- /.panel-heading -->
       	<div class="panel-body">
          	<div class="table-responsive">
              <% if @inactive_trainer.empty? %>
                Brak nieaktywnych trenerów
              <% else %>
              	<table id="card" class="table table-hover">
                  	<thead>
                      	<tr>
                          	<th>Imie</th>
                          	<th>Nazwisko</th>
                          	<th>Data</th>
                            <th>Aktywuj</th>
                      	</tr>
                  	</thead>
                  	<tbody>
                      <% @inactive_trainer.each do |data| %>
                      <tr>
                          <td><%= data.user.name %></td>
                          <td><%= data.user.surname %> </td>
                          <td><%= data.created_at.strftime("%Y-%m-%d %H:%M") %> </td>
                          <td> 
                            <%= link_to "aktywuj", activate_trainer_path(:id => data.id), method: :post, class: 'btn btn-outline btn-success', data: {confirm: "Czy napewno chcesz aktywować tego użytkownika?"}  %>
                          </td>
                      </tr>
                      <% end %>
                  	</tbody>
              	</table>
                <% end %>
          	</div>
      	</div>
    </div>
</div>
