<div class="collapse navbar-collapse navbar-ex1-collapse">
    
    <ul class="nav navbar-nav side-nav" id="left-bar">
        <div class="hidden-xs" id="personal_info">
            <img class="img-circle" id="circle-photo-big" src="img/person.jpg" alt="">
            Maria Kowalska
        </div>
        <li>
            <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Treningi</a>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-archive"></i> Kartoteka <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Ciśnienie tętnicze</a>
                </li>
                <li>
                    <a href="#">Częstość oddechów</a>
                </li>
                 <li>
                    <a href="#">Tętno</a>
                </li>
                 <li>
                    <a href="#">Temperatura ciała</a>
                </li>
                 <li>
                    <a href="#">Waga</a>
                </li>
                 <li>
                    <a href="#">Wzrost</a>
                </li>
                 <li>
                    <a href="#">Tkanka tłuszczowa</a>
                </li>
                 <li>
                    <a href="#">Masa mięsniowa</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#envelope"><i class="fa fa-fw fa-envelope"></i> Wiadomośći<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="envelope" class="collapse">
                <li>
                    <a href="#">Napisz do trenera</a>
                </li>
                <li>
                    <a href="#">Wszystkie wiadomści</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-users"></i> Trenerzy</a>
        </li>
    </ul>
</div>