<div class="nologin">
  <div class="foto">
    <div class="foto_sub">
      Mkufunzi
    </div>
  </div>
  <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8 col-sm-offset-1 col-sm-10 col-xs-12 ">
    <div class="well"id="welcomepage_box">
          <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist" style="display:none">
        <li role="presentation" class="active"><a href="#zaloguj_sie" aria-controls="home" role="tab" data-toggle="tab">Zaloguj się</a></li>
        <li role="presentation"><a href="#zarejestruj_sie" aria-controls="profile" role="tab" data-toggle="tab">Zarejestruj się</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" style="width: 75%; margin: 0 auto;" >
        <div role="tabpanel" class="tab-pane fade in active" id="zaloguj_sie"><%= render 'sessions/new' %></div>
        <div role="tabpanel" class="tab-pane fade" id="zarejestruj_sie"><%= render 'users/new' %></div>
      </div> 
    </div>
  </div>
  
  </div>

</div>

<script type="text/javascript">
function activaTab(tabID){
    $('.nav-tabs a[href="#' + tabID + '"]').tab('show');
};
if (window.location.href.indexOf("signup") > -1 ) {activaTab('zarejestruj_sie');};

</script>